/* BASICS */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  user-select: none;
  box-sizing: border-box;
  /* kill the highlight trick phones do */
  -webkit-tap-highlight-color: transparent;
}
html {
  font-family: Times,'Times New Roman',serif;
  font-weight: normal;
  font-size: 62.5%;
}
body {
  background: rgb(20, 12, 28);
  color: hsla(0, 0%, 100%, 1);
  font-size: 1.6rem;
}
ul {
  list-style: none;
}
ol {
  list-style: none;
}
/* GAME */
.castle.left.wall {
  position: absolute;
  top: 0px;
  left: -8px;
  display: block;
  width: 32px;
  height: 100%;
  background-image: url('../img/castle-left-wall.png');
  background-repeat: repeat-y;
  background-color: transparent;
}
.castle.right.wall {
  position: absolute;
  top: 0px;
  left: auto;
  right: -8px;
  display: block;
  width: 32px;
  height: 100%;
  background-image: url('../img/castle-right-wall.png');
  background-repeat: repeat-y;
  background-color: transparent;
}
.castle.bottom.wall {
  position: absolute;
  top: auto;
  left: 0;
  bottom: -16px;
  display: block;
  width: 100%;
  height: 64px;
  background-image: url('../img/castle-bottom-wall.png');
  background-repeat: repeat-x;
  background-color: transparent;
}
.castle.top.wall {
  position: absolute;
  top: -16px;
  left: 0;
  display: block;
  width: 100%;
  height: 64px;
  background-image: url('../img/castle-top-wall.png');
  background-repeat: repeat-x;
  background-color: transparent;
}
.castle.top.left {
  position: absolute;
  top: -16px;
  left: -8px;
  display: block;
  width: 32px;
  height: 64px;
  background-image: url('../img/castle-top-left.png');
  background-repeat: none;
}
.castle.top.right {
  position: absolute;
  top: -16px;
  right: -8px;
  display: block;
  width: 32px;
  height: 64px;
  background-image: url('../img/castle-top-right.png');
  background-repeat: none;
}
.castle.bottom.left {
  position: absolute;
  left: -8px;
  bottom: -16px;
  display: block;
  width: 32px;
  height: 64px;
  background-image: url('../img/castle-bottom-left.png');
  background-repeat: none;
}
.castle.bottom.right {
  position: absolute;
  right: -8px;
  bottom: -16px;
  display: block;
  width: 32px;
  height: 64px;
  background-image: url('../img/castle-bottom-right.png');
  background-repeat: none;
}
.castle.door.closed {
  position: absolute;
  left: 16px;
  top: -16px;
  display: block;
  width: 32px;
  height: 64px;
  background-image: url('../img/castle-door-closed.png');
  background-repeat: none;
}
@keyframes door-bounce {
  0% { transform: translate3d(0px, 0, 0) }
  50% { transform: translate3d(256px, 0, 0) }
  100% { transform: translate3d(0px, 0, 0) }
}
.door.slower {
  animation: door-bounce 4s linear infinite;
}
.door.slow {
  animation: door-bounce 3s linear infinite;
}
.door.fast {
  animation: door-bounce 2s linear infinite;
}
.door.faster {
  animation: door-bounce 1s linear infinite;
}
#dungeon {
  position: relative;
  display: block;
  width: 320px; /* iPhone 4 */
  height: 372px; /* iPhone 4 */
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background: rgb(222, 238, 214);
}
#room {
  position: relative;
  display: block;
  width: 100%;
  height: 280px;
  background-image: url('../img/castle-floor.png');
  background-repeat: repeat;
  background-position: 20px 0px;
}
.wall {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 8px;
  background: rgb(109, 170, 44);
}
.target {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 48px;
  height: 8px;
  background: rgb(89, 125, 206);
}
.character {
  position: absolute;
  left: 140px;
  top: 240px;
  display: block;
  width: 40px;
  height: 40px;
}
.character > span {
  position: relative;
  top: 4px;
  left: 4px;
  display: block;
  width: 32px;
  height: 32px;
  background: rgb(109, 194, 202);
  border-radius: 16px;
}
.emote {
  position: absolute;
  top: 64px;
  left: 16px;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  color: #000;
}
.weapon {
  position: absolute;
  left: 156px;
  top: 240px;
  display: block;
  width: 8px;
  height: 40px;
  background: transparent;
}
.weapon.bow {
  background: rgb(133, 76, 48);
}
.weapon.sword {
  background: rgb(117, 113, 97);
}
.weapon.potion {
  background: rgb(208, 70, 72);
}
.weapon.key {
  background: rgb(210, 125, 44);
}
.items {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 90px;
  padding-top: 12.8px;
}
.item {
  display: inline-block;
  width: 64px;
  height: 64px;
  border: 1px solid #000;
  color: #000;
  font-size: 32px;
  line-height: 64px;
  margin-left: 12.8px;
  text-align: center;
}
.item.picked {
  background: rgb(133, 149, 161);
}
#store {
  position: relative;
  display: block;
  width: 320px; /* iPhone 4 */
  height: 372px; /* iPhone 4 */
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background: hsla(0, 0%, 59%, 1);
  background-image: url('../img/bricks.png');
}
#player {
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin-left: -60px;
  display: block;
  width: 120px;
  height: 120px;
}
#color1 {
  position: absolute;
  top: 0;
  left: 0;
}
#color2 {
  position: absolute;
  top: 0;
  left: 93px;
}
#color3 {
  position: absolute;
  top: 0;
  right: 93px;
}
#color4 {
  position: absolute;
  top: 0;
  right: 0;
}
#color5 {
  position: absolute;
  top: 93px;
  right: 0;
}
#color6 {
  position: absolute;
  top: 186px;
  right: 0;
}
#color7 {
  position: absolute;
  top: 279px;
  right: 0;
}
#color8 {
  position: absolute;
  top: 279px;
  right: 93px;
}
#color9 {
  position: absolute;
  top: 279px;
  left: 93px;
}
#color10 {
  position: absolute;
  top: 279px;
  left: 0;
}
#color11 {
  position: absolute;
  top: 186px;
  left: 0;
}
#color12 {
  position: absolute;
  top: 93px;
  left: 0;
}
.pixelated {
  image-rendering: optimizeSpped;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
}
.girl {
  background-image: url('../img/character-girl.png');
}
.boy {
  background-image: url('../img/character-boy.png');
}
/* COLORS */
.color1 {
  background: hsla(0, 100%, 50%, 1);
}
.color2 {
  background: hsla(24, 100%, 50%, 1);
}
.color3 {
  background: hsla(35, 100%, 50%, 1);
}
.color4 {
  background: hsla(47, 100%, 50%, 1);
}
.color5 {
  background: hsla(60, 100%, 50%, 1);
}
.color6 {
  background: hsla(78, 100%, 39%, 1);
}
.color7 {
  background: hsla(115, 100%, 34%, 1);
}
.color8 {
  background: hsla(189, 100%, 38%, 1);
}
.color9 {
  background: hsla(208, 100%, 35%, 1);
}
.color10 {
  background: hsla(234, 100%, 34%, 1);
}
.color11 {
  background: hsla(276, 100%, 32%, 1);
}
.color12 {
  background: hsla(322, 100%, 39%, 1);
}
/* STORE */
.floor {
  display: block;
  width: 100%;
  height: 120px; /* 372px (iPhone 4) / 3 = 124px */
  border-bottom: 4px solid hsla(0, 0%, 32%, 1);
  position: relative;
  background: hsla(0, 0%, 59%, 1);
}
.label {
  display: block;
  width: 100%;
  height: 24px;
  background: url('../img/bricks.png');
  border-bottom: 1px solid hsla(0, 0%, 15%, 1);
  position: relative;
}
.label > span {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  background: hsla(0, 0%, 15%, 1);
  color: hsla(0, 0%, 94%, 1);
  padding-left: 6px;
  border-radius: 9px 0 0 0;
  text-align: right;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 4px;
  text-transform: lowercase;
  font-family: monospace;
  font-weight: normal;
}
.lamp {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  left: 50%;
  margin-left: -8px;
}
.mannequin {
  display: inline-block;
  height: 96px;
  width: 64px;
  position: relative;
  margin-left: 12.8px;
}
.mannequin.on::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 32px 96px 32px;
  border-color: transparent transparent hsla(0, 0%, 100%, 0.1) transparent;
  position: absolute;
  top: 0;
  left: -1px;
}
.figure {
  width: 32px;
  height: 48px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 4px;
  margin-left: -17px;
}
/* COLOR PICKER */
#picker {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#picker.on {
  display: block;
}
#picker > li {
  display: block;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.yellow {
  top: 20px;
  left: 140px;
  background: rgb(255, 242, 5);
}
.yellow.orange {
  top: 36px; /* 160 - (sin(60) * 120) - 20 */
  left: 200px; /* (cos(60) * 120) - 20 + 160 */
  background: rgb(255, 210, 3);
}
.orange {
  top: 80px; /* 160 - (sin(30) * 120) - 20 */
  left: 244px; /* (cos(30) * 120) - 20 + 160 */
  background: rgb(250, 164, 27);
}
.red.orange {
  top: 140px;
  left: 260px;
  background: rgb(242, 98, 35);
}
.red {
  top: 200px;
  left: 244px;
  background: rgb(237, 27, 36);
}
.red.violet {
  top: 244px;
  left: 200px;
  background: rgb(138, 40, 143);
}
.violet {
  top: 260px;
  left: 140px;
  background: rgb(91, 47, 145);
}
.blue.violet {
  top: 244px;
  left: 80px;
  background: rgb(62, 57, 151);
}
.blue {
  top: 200px;
  left: 36px;
  background: rgb(5, 81, 165);
}
.blue.green {
  top: 140px;
  left: 20px;
  background: rgb(1, 171, 134);
}
.green {
  top: 80px;
  left: 36px;
  background: rgb(22, 160, 74);
}
.yellow.green {
  top: 36px;
  left:80px;
  background: rgb(145, 199, 75);
}
.hidden {
  display: none;
}

/* GRAYSCALE */
/*
rgb(255, 255, 255)
rgb(240, 240, 240)
rgb(217, 217, 217)
rgb(189, 189, 189)
rgb(150, 150, 150)
rgb(115, 115, 115)
rgb(82, 82, 82)
rgb(37, 37, 37)
*/

/* DawnBringer's 16 Color Palette */
/* http://pixeljoint.com/forum/forum_posts.asp?TID=12795 */
/*
rgb(20, 12, 28)
rgb(68, 36, 52)
rgb(48, 52, 109)
rgb(78, 74, 78)
rgb(133, 76, 48)
rgb(52, 101, 36)
rgb(208, 70, 72)
rgb(117, 113, 97)
rgb(89, 125, 206)
rgb(210, 125, 44)
rgb(133, 149, 161)
rgb(109, 170, 44)
rgb(210, 170, 153)
rgb(109, 194, 202)
rgb(218, 212, 94)
rgb(222, 238, 214)
*/

/* Generation animations for swords and bows */
@keyframes bow-row0 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -280px, 0) }
}
.bow-row0 {
  animation: bow-row0 466ms linear 1;
}
@keyframes bow-row1 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -240px, 0) }
}
.bow-row1 {
  animation: bow-row1 400ms linear 1;
}
@keyframes bow-row2 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -200px, 0) }
}
.bow-row2 {
  animation: bow-row2 333ms linear 1;
}
@keyframes bow-row3 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -160px, 0) }
}
.bow-row3 {
  animation: bow-row3 266ms linear 1;
}
@keyframes bow-row4 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -120px, 0) }
}
.bow-row4 {
  animation: bow-row4 200ms linear 1;
}
@keyframes bow-row5 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -80px, 0) }
}
.bow-row5 {
  animation: bow-row5 133ms linear 1;
}
@keyframes bow-row6 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -40px, 0) }
}
.bow-row6 {
  animation: bow-row6 66ms linear 1;
}
@keyframes sword-row0 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -280px, 0) }
}
.sword-row0 {
  animation: sword-row0 466ms linear 1;
}
@keyframes sword-row1 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -240px, 0) }
}
.sword-row1 {
  animation: sword-row1 400ms linear 1;
}
@keyframes sword-row2 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -200px, 0) }
}
.sword-row2 {
  animation: sword-row2 333ms linear 1;
}
@keyframes sword-row3 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -160px, 0) }
}
.sword-row3 {
  animation: sword-row3 266ms linear 1;
}
@keyframes sword-row4 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -120px, 0) }
}
.sword-row4 {
  animation: sword-row4 200ms linear 1;
}
@keyframes sword-row5 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -80px, 0) }
}
.sword-row5 {
  animation: sword-row5 133ms linear 1;
}
@keyframes sword-row6 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -40px, 0) }
}
.sword-row6 {
  animation: sword-row6 66ms linear 1;
}
@keyframes potion-row0 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -280px, 0) }
}
.potion-row0 {
  animation: potion-row0 466ms linear 1;
}
@keyframes potion-row1 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -240px, 0) }
}
.potion-row1 {
  animation: potion-row1 400ms linear 1;
}
@keyframes potion-row2 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -200px, 0) }
}
.potion-row2 {
  animation: potion-row2 333ms linear 1;
}
@keyframes potion-row3 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -160px, 0) }
}
.potion-row3 {
  animation: potion-row3 266ms linear 1;
}
@keyframes potion-row4 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -120px, 0) }
}
.potion-row4 {
  animation: potion-row4 200ms linear 1;
}
@keyframes potion-row5 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -80px, 0) }
}
.potion-row5 {
  animation: potion-row5 133ms linear 1;
}
@keyframes potion-row6 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -40px, 0) }
}
.potion-row6 {
  animation: potion-row6 66ms linear 1;
}
@keyframes key-row0 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -280px, 0) }
}
.key-row0 {
  animation: key-row0 466ms linear 1;
}
@keyframes key-row1 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -240px, 0) }
}
.key-row1 {
  animation: key-row1 400ms linear 1;
}
@keyframes key-row2 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -200px, 0) }
}
.key-row2 {
  animation: key-row2 333ms linear 1;
}
@keyframes key-row3 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -160px, 0) }
}
.key-row3 {
  animation: key-row3 266ms linear 1;
}
@keyframes key-row4 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -120px, 0) }
}
.key-row4 {
  animation: key-row4 200ms linear 1;
}
@keyframes key-row5 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -80px, 0) }
}
.key-row5 {
  animation: key-row5 133ms linear 1;
}
@keyframes key-row6 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(0, -40px, 0) }
}
.key-row6 {
  animation: key-row6 66ms linear 1;
}
