/* BASICS */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  user-select: none;
  box-sizing: border-box;
  /* kill the highlight trick phones do */
  -webkit-tap-highlight-color: transparent;
}
html {
  font-family: Times,'Times New Roman',serif;
  font-weight: normal;
  font-size: 62.5%;
}
body {
  background: #333;
  font-size: 1.6rem;
}
/* GAME */
#store {
  background: #fff;
  color: #333;
  position: relative;
  display: block;
  width: 32rem;
  height: 44rem;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
#player {
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin-left: -60px;
  display: block;
  width: 120px;
  height: 120px;
}
#color1 {
  position: absolute;
  top: 0;
  left: 0;
}
#color2 {
  position: absolute;
  top: 0;
  left: 93px;
}
#color3 {
  position: absolute;
  top: 0;
  right: 93px;
}
#color4 {
  position: absolute;
  top: 0;
  right: 0;
}
#color5 {
  position: absolute;
  top: 93px;
  right: 0;
}
#color6 {
  position: absolute;
  top: 186px;
  right: 0;
}
#color7 {
  position: absolute;
  top: 279px;
  right: 0;
}
#color8 {
  position: absolute;
  top: 279px;
  right: 93px;
}
#color9 {
  position: absolute;
  top: 279px;
  left: 93px;
}
#color10 {
  position: absolute;
  top: 279px;
  left: 0;
}
#color11 {
  position: absolute;
  top: 186px;
  left: 0;
}
#color12 {
  position: absolute;
  top: 93px;
  left: 0;
}
.pixelated {
  image-rendering: optimizeSpped;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  image-rendering: -ms-interpolation-mode: nearest-neighbor;
}
.girl {
  background-image: url('/img/character-girl.png');
}
.boy {
  background-image: url('/img/character-boy.png');
}
.block {
  background: hsla(0, 100%, 50%, 1);
  display: block;
  width: 4rem;
  height: 4rem;
}
/* COLORS */
.color1 {
  background: hsla(0, 100%, 50%, 1);
}
.color2 {
  background: hsla(24, 100%, 50%, 1);
}
.color3 {
  background: hsla(35, 100%, 50%, 1);
}
.color4 {
  background: hsla(47, 100%, 50%, 1);
}
.color5 {
  background: hsla(60, 100%, 50%, 1);
}
.color6 {
  background: hsla(78, 100%, 39%, 1);
}
.color7 {
  background: hsla(115, 100%, 34%, 1);
}
.color8 {
  background: hsla(189, 100%, 38%, 1);
}
.color9 {
  background: hsla(208, 100%, 35%, 1);
}
.color10 {
  background: hsla(234, 100%, 34%, 1);
}
.color11 {
  background: hsla(276, 100%, 32%, 1);
}
.color12 {
  background: hsla(322, 100%, 39%, 1);
}
/* STORE */
.floor {
  display: block;
  width: 100%;
  height: 110px;
  border-bottom: 1px solid #000;
  position: relative;
  background: hsla(0, 0%, 80%, 1);
}
.floor > .window {
  display: block;
  width: 300px;
  height: 56px;
  border: 2px solid hsla(189, 100%, 38%, 0.8);
  background: hsla(189, 100%, 19%, 1);
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -150px;
}
.floor > .wood {
  display: block;
  width: 100%;
  height: 24px;
  position: absolute;
  bottom: 0;
  background-color: hsla(28, 50%, 25%, 1);
  border-top: 1px solid hsla(0, 0%, 50%, 1);
}
.mannequin {
  display: inline-block;
  height: 100%;
  width: 64px;
  position: relative;
  margin-left: 12.8px;
}
.mannequin > img {
  width: 32px;
  height: 48px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -16px;
  margin-bottom: 16px;
}
.hidden {
  display: none;
}
